body {
    background-image: linear-gradient(135deg, #fff, #fff,#E0F1CE);
}

/* Header */
.navbar {
    background-color: #fff;
}

.navbar .navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.navbar .navbar-nav .nav-item a {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: small;
    color: #181818;
    border-radius: 50px;
    border-color: #93D250;
    border-width: 1.5px;
    text-decoration: none;
}

.navbar .navbar-nav .nav-item a.nav-link:hover {
    color: #93D250;
}

.navbar .navbar-nav .nav-item a.nav-link.active {
    font-weight: 600;
    color: #93D250;
}

.navbar .navbar-nav .nav-item a.btn.btn-outline-success {
    color: #181818;
    background-color: #fff;
}

.navbar .navbar-nav .nav-item a.btn.btn-outline-success:hover {
    color: #fff;
    background-color: #93D250;
}

.navbar .navbar-nav .nav-item a.btn.btn-success {
    color: #fff;
    background-color: #93D250;
}

.navbar .navbar-nav .nav-item a.btn.btn-success:hover {
    background-color: #457117;
    border-color: #457117;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler span i {
    color: #7DBE38;
    font-size: 1.5rem;
}

/* Jual */
.jual {
    padding-top: 30px;
    padding-bottom: 50px;
}

.jual h1 {
    color: #181818;
    font-weight: 600;
}

.jual .card {
    color: #181818;
    background-color: #fff;
    border-color: #fff;
    border-radius: 20px;
}

.jual .jual-button a {
    text-decoration: none;
}

.jual .jual-button .card:hover {
    border-color: #93D250;
    border-width: 3px;
}

.jual .card h5 {
    font-weight: 600;
}

@media screen and (max-width: 1199px) {
    .jual .text-caption {
        text-align: center;
    }

    .jual .jual-button {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 576px) {
    .jual .text-caption {
        text-align: center;
    }

    .jual .jual-button {
        display: grid;
    }
}

/* Footer */
footer {
    color: #fff;
    background-color: #181818;
}

footer .logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

footer p {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: x-small;
}

footer .social-media {
    filter: invert();
}

footer .social-media a {
    text-decoration: none;
}